pyyaml
genologics_sql @ git+https://github.com/SciLifeLab/genologics_sql.git
genologics @ git+https://github.com/SciLifeLab/genologics.git
six
markdown
statusdb @ git+https://github.com/NationalGenomicsInfrastructure/statusdb.git

